.Polaris-Tabs__TabContainer:hover {
  border-bottom: 2px rgb(137, 137, 137) solid;
}

.Polaris-Tabs__TabContainer button {
  border-radius: 0%;
}

.Polaris-Tabs__TabContainer {
  border-bottom: 2px #f1f1f1 solid;
}

.header-table-button button {
  margin: 0.2rem;
}

.header-table-button span {
  font-weight: 700;
}

.button-number {
  margin-left: 5px;
  color: rgb(98, 0, 20);
}

.import-review-table thead {
  background-color: aqua;
}
